
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 0.5rem;
}.c-mvD {
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  height: 0.9rem;
  font-size: 0.7333rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
}
