
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 11.3rem;
}.powered-by-pumper-WFX {
  width: 100%;
  font-size: 1.2rem;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  color: #000000;
  height: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
}
